<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zladnrms.defytech.kim.BroadcastTv">

    <!-- 녹음 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 외장 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 내장 -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 인터넷  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 푸시 위함 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.BroadcastActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"></activity>

        <activity
            android:name=".view.ViewerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"
            />
        <activity
            android:name=".view.VideoViewerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"
            />
        <activity
            android:name=".view.BroadcastJavaCvActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|adjustPan"
            />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <!-- FCM 서비스 2개 -->
        <service android:name=".FCM.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
            <!-- FCM 서비스 끝 -->
        </service>

        <activity android:name=".view.IntroActivity" />
        <activity android:name=".view.AccountActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.JoinActivity"/>
        <activity android:name=".view.MyBookmarkActivity"/>
        <activity android:name=".view.PermissionActivity"/>
    </application>

</manifest>